div {
    display: flex;
    flex-direction: column;
}

h3 {
    display: flex;
    justify-content: center;
}

h2 {

    display: flex;
    justify-content: center;
}

p {
    padding: 0px 20px 0px 20px;
}

.film-cart {
    margin: 35px 5px;
    background-color: rgb(212, 102, 12);
    border-radius: 9px;
}

.Flm-id {
    color: white;
    margin-top: 10px;
    margin-left: 25px;
}