$col-text-black: #333;
$col-text-white: #fff;
$col-yellow: #F48E0B;

$conWidth: 1280px;

$dt: 1280px;
$dtSM: 1024px;
$tb: 980px;
$tbSM: 480px;
$mb: 375px;

$container: (
    dt: 1280px,
    dtSM: 1024px,
    tb: 980px,
    tbSM: 480px,
    mb: 375px
);

$colors: (
    blue: #00009f,
    green: #0f0,
    pink: #f0f
);
