body {
    background-color: black;
}
.container {
    padding-top: 100px;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.click {
    transition: box-shadow 300ms ease-in-out, color 300ms ease-in-out;
    box-sizing: border-box;
    appearance: none;
    background-color: transparent;
    border: 2px solid #e74c3c;
    border-radius: 0.6em;
    color: #e74c3c;
    cursor: pointer;
    display: flex;
    align-self: center;
    font-size: 1rem;
    margin: 20px;
    padding: 2.8em  2.8em ;
    text-decoration: none;
    text-align: center;
    text-transform: uppercase;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
}
.click:hover {
    box-shadow: 0 0 40px 40px #e74c3c inset;
}

.info {
    display: flex;
    justify-content: center;
    color:white;
    text-transform: uppercase;
}