
body{
    background-color: #989696;
    width: 100%;
    height: 50px;
    background: radial-gradient(#000000 5%, transparent 20%) 0 0, radial-gradient(rgba(0, 0, 0, 0.1) 1%, transparent 0%) 50px 50px;
    background-color: #fff;
    background-size: 5px 5px;
}

.card-body {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.search {
    justify-content: center;
    display: flex;
}
