
.registration {
  background-image: url("https://telegra.ph/file/101a234f5e77a90c55637.jpg");
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 60%;
  height: 800px;
  position: relative;
  min-height: 100%;
  overflow: hidden;
}

.text-terms {
  color: #FFFFFF;
  font-size: 15px;
  margin-right: 5px;
}

.login {
  align-items: center;
  align-content: center;
  display: flex;
  justify-content: center;
  position: absolute;
  left: 0; bottom: 0;
  padding: 10px;
  color: #fff;
  width: 100%;
}


.login-text-welcome {
  font-size: 15px;
  margin-left: 27px;
}

.login-text-or {
  margin-left: 5px;
  margin-right: 5px;
}

.login-text {
  margin-left: 5px;
  text-decoration: none;
  color: #FFFFFF
}


.login-text-signup {
  text-decoration: none;
  color: #FFFFFF
}

.login-text-signup:hover {
  color:  #6CEEC7;
  transition: 0.3s;
;
}

.registration-form {
  transform: translate(0%, 37%);
  width: 700px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  align-content: center;
  margin: 0 auto;
}


.reg-form-input {
  position: relative;
  height: 56px;
  width: 300px;
  background-color: #ffffff00;
  border: 1px solid #F2F2F2;
  border-radius: 5px;
  color: #E0E0E0;
  font-size: 14px;
  line-height: 14px;
  padding-left: 40px;
  outline: none;
  margin-bottom: 30px;
}


.first-name {
  position: absolute;
  left: 6%;
  top: 20%;
}

.reg-input-icon {
  position: absolute;
  left: 7%;
  top: 20%;
}


.reg-form-input:focus {
  border: 1px solid #6CEEC7;
  transition: 0.3s;
}

.button-Create-acc {
  color: #6CEEC7;
  border: 1px solid #6CEEC7;
  width: 165px;
  height: 56px;
  background: rgba(0, 0, 0, 0.0001);
  border-radius: 5px;
  cursor: pointer;
  margin-right: 100px;
}

.button-Create-acc:hover {
  transition: 0.3s;
  background: #6CEEC7;
  color: #000000;
}


.reg-form-input::placeholder {
  color: #BEBEBE;
  font-size: 14px;
  line-height: 14px;
}


.custom-check-icon {
  position: relative;
  width: 18px;
  height: 18px;
  border: 1px solid #6CEEC7;
  border-radius: 2px;
  margin-right: 8px;
  transition: 0.3s;
}

.custom-check-icon:hover{
  background: #6CEEC7;
  transition: 0.3s;
}


.custom-check-icon::before {
  content: '';
  position: absolute; top: 0; left: 0;
  width: 100%;
  height: 100%;
  background: #000000;
  clip-path: polygon(45% 64%, 84% 14%, 100% 28%, 47% 100%, 0 49%, 15% 32%);
  transform: scale(0);
  transition: transform .3s;
}


label input:checked ~ .custom-check-icon::before {
  display: block;
  transform: scale(1);
}

label input:checked ~ .custom-check-icon {
  background: #6CEEC7;
}

label input {
  display: none;
}
.reg-form-checkbox-link {
  color: #6CEEC7;
  text-decoration: underline;
  font-size: 15px;
}

.reg-form-checkbox-link:hover {
  color: #6CEEC7;
  text-decoration: underline;
}


.main-reg-text {
  align-items: center;
  align-content: center;
  display: flex;
  justify-content: center;
  padding: 10px;
  color: #fff;
  width: 100%;
}

.main-sign-up {
  font-size: 20px;
  display: flex;
  align-items: center;
  text-align: center;
  color: #6CEEC7;
  text-decoration: underline;
  margin-right: 10px;
  margin-bottom: 50px;
  transition: 0.3s;
}

.main-sign-up:hover {
  color: #6CEEC7;
  text-decoration: underline;
  margin-bottom: 50px;
  transition: 0.3s;
}


.main-log-in {
  margin-left: 5px;
  font-size: 15px;
  display: flex;
  align-items: center;
  color: #6CEEC7;
  text-decoration: underline;
}

.main-log-in:hover {
  color: #6CEEC7;
  text-decoration: underline;
  transition: 0.3s;
}

.square-reg-top {
  position: absolute;
  left: -2%;
  top: 42%;
  z-index: 1;
}

.square-reg-right {
  overflow: hidden;
  position: absolute;
  left: 90%;
  top: 13%;
  z-index: 1;
}

.square-reg-left {
  position: absolute;
  left: 67%;
  top: 82%;
  z-index: 1;
}

.main-text-sign {
  font-size: 24px;
  margin-bottom: 50px;
}