

.welcome {
  background-image: url("https://telegra.ph/file/284eb36f7602ba527d350.jpg");
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 60%;
  height: 800px;
  position: relative;
  overflow: hidden;
}

.square-top {
  //position: absolute;
  left: 72.12%;
  top: -48px;

  //z-index: 1;

}

.square-left {
  position: absolute;
  left: 91%;
  top: 70%;
  z-index: 1;

}

.square-right {
position: absolute;
left: -6.16%;
right: 26.73%;
top: 50%;
bottom: -29.42%;

}

.logo {
  left: 43%;
}

.welcome-text{
  color:white;
  font-size: 62px;
  justify-content: center;
  display: flex;
}

.welcome-text-green{
  color:  #6CEEC7;
}

.text-container {

  top: 5%;

}

.reg {
  margin-top: 40px;
  left: 43%;
}

.error-text {
  font-family: Rubik;
  color: #ff0000;
  position: absolute;
  font-style: normal;
  font-weight: 500;
  font-size: 10px;
  line-height: 12px;
  top: 60px;
  right: 40px;
}

.hidden {
  z-index: 0;
  visibility: hidden;
}


