.product-card {
  width: colWidth(3, 20px);

  @media (max-width: $dtSM) {
    width: colWidth(2, 50px);
  }

  &__img {
    width: 100%;
    height: 200px;
    object-fit: cover;
  }

  &__title {
    color: clr(green);
  }

  &__price {

  }
}