body {
    font-family: sans-serif;
}

.conteiner {
    align-items: center;
    display: flex;
    justify-content: space-between;
    margin-right: 70px;
    margin-left: 70px;
}

.contact-form {
  margin-right: 150px;
    margin-left: 150px;
    background: #FFFFFF;
    box-shadow: 0px 0px 50px rgba(0, 0, 0, 0.05);
    border-radius: 10px;
}
.contact-form-web-img {

}

.contact-form-text-head{
    font-weight: 500;
    font-size: 35px;
    color: #0B132A;
    margin: 0 0 20px;
}

.contact-form-text {
    font-size: 16px;
    line-height: 30px;
    font-weight: 300;
    margin: 0;
}
.item-button {
    width: 250px;
    height: 60px;
    left: 970px;
    top: 3907.78px;
    background: #8CC5F9;
    border-radius: 10px;
}

.text-head {
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 410px;
}