.hero {
  padding: 50px 0;

  &__title {
    font-size: 26px;
    line-height: 1.5;
  }

  &__subtitle {
    font-size: 14px;
    color: #333;
  }

  &__link {
    display: inline-block;
    text-decoration: none;
    color: #2c2c2c;
    text-transform: uppercase;
    padding: 20px 40px;
    background-color: antiquewhite;
  }

  &__slogan {
    font-size: 48px;
    margin: 20px 0;
  }

  &__slogan--uppercased {
    text-transform: uppercase;
    color: $col-yellow
  }


}

