@import "src/main/style/reset";
@import "src/main/style/welcome";
@import "src/main/style/regestration";


@font-face {
  font-family: "Rubik-Light";
  font-style: normal;
  font-weight: 400;

}


* {
  margin: 0;
  padding: 0;
  font-family: "Rubik-Light", sans-serif;
  position: relative;
}

a {
  text-decoration: none !important;
}


body {
  overflow-x:hidden;
  //overflow-y:hidden;
  position: relative;
  height: 100%;
}


@media screen and (min-device-width: 360px) and (max-device-width: 576px){
  .reg {
    margin-top: 40px;
    left: 43%;
    width: 330px;
    height: 48px;
  }
}