.header__line {
    width: 1844px;
    height: 57px;
    background: #C4C4C4;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.header__search {
    width: 1504px;
    height: 53px;
    background: #6EC9E6;
    display: flex;
    justify-content: center;
    align-items: center;
}

.header__main {
    padding-top: 109px;
    padding-left: 170px;
}