
.navbar { background:#440930;}
.nav-link , .navbar-brand{ color: #f4f4f4; cursor: pointer;}
.nav-link{ margin-right: 1em !important;}
.nav-link:hover{ background: #f4f4f4; color: #440930; border-radius: 9px;}
.navbar-collapse{ justify-content: flex-end;}
.navbar-toggler{  background:#fff !important;}
.navbar-collapse{
    justify-content: flex-end;
}



@keyframes spinner-border {
    0% {
        transform: scale(0);
    }
    50% {
        opacity: 1;
        transform: none;
    }
    }
}