.header-menu {
  //width: 325px;
  height: 57px;
  background-color: #C4C4C4;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  margin-bottom: 41px;
}

.mobile {
  width: 375px;
  margin: 0 auto;
  position: relative;
  border: 1px solid #ddd;
}

main {
  padding: 10px;
}

.menu-triger-button {
  padding-bottom: 13px;
  padding-top: 12px;
  margin-left: 33px;
}

.menu-triger {
  display: block;
  width: 25px;
  height: 17px;

  left: 15px;
  top: 28px;
}
.menu-close {
  background: url(https://snipp.ru/demo/449/close.png) 0 0 repeat;
  display: block;
  width: 28px;
  height: 28px;
  position: absolute;
  right: 20px;
  top: 20px;
  z-index: 100;
}
.menu-popup {
  background: #2c2e3e;
  display: none;
  position: absolute;
  left: 0px;
  right: 0px;
  top: 0;
  box-sizing: border-box;
  padding: 30px;
  z-index: 9999;
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}
.menu-popup ul {
  margin: 0;
  padding: 0;
}
.menu-popup li {
  list-style: none;
  margin: 10px 0;
  padding: 0;
}
.menu-popup li a {
  font-size: 18px;
  font-family: "Arial";
  color: rgb(255, 255, 255);
  line-height: 1.4;
  text-decoration: none;
}
.body_pointer * {
  cursor: pointer;
}