.card-product {
    list-style: none;
    height: 350px;
    width: 220px;
    margin: 10px 20px;
    border-radius: 9px;
    background-color: white;
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}


.card-text {
    width: 200px;
    height: 50px;
    margin: 5px 10px 5px 15px;
    font-size: 13px;
    justify-content: center;
    text-align: center;
}

.card-id{
    display: flex;
    justify-content: center;
}

.card-control {
    display: flex;
    justify-content: center;
}

.card-img {
    margin: 10px;
    display: flex;
    justify-content: center;
}