* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

header {
    background: url("../img/Layer15.jpg");
    background-attachment: fixed;
}

html {
    font-family: 'Montserrat', sans-serif;
    background: #fff;
    min-width: 1200px
}

:root {
    --color-white: #fff;
    --color-white-opacity: rgba(255, 255, 255, .4);
    --color-grey-light: #d8d8d8;
    --color-theme-green: #18CFAB;
    --color-theme-blue: #00CBF6;
    --font-default: 14px;
}

.nav-bar {
    height: 120px;
    background-color: rgba(94, 93, 88, 0.6);
    background-attachment: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.container {
    /*padding-left: 180px;*/
    /*padding-right: 180px;*/
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 1160px;
    align-content: center;
}

.container-center {
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;
}

.logo {
    display: flex;
    align-items: center;
    position: relative;
    text-decoration: none;
}


.logo-letter-bg {
    display: flex;
    justify-content: center;
    align-items: center;
    font-style: normal;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 40px;
    height: 70px;
    width: 60px;
    clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
    background-color: #18CFAB;
}

.logo-letter {
    color: white;
}

.logo-name {
    margin-left: 5px;
    font-size: 22px;
    letter-spacing: 2px;
}

.logo-text {
    font-size: 32px;
    line-height: 48px;
    color: white;
    font-weight: normal;
}

.logo-text-green {
    line-height: 48px;
    font-style: normal;
    font-weight: bold;
    color: #18CFAB;
}

.nav {
    gap: 21px;
    margin-top: 12px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-item {
    padding: 43px 0;
    display: inline-block;
    border-bottom: 2px solid transparent;
    text-decoration: none;
    font-weight: 600;
    font-size: 16px;
    line-height: 20px;
    color: rgba(255, 255, 255, 0.6);
    text-transform: uppercase;
    margin: auto 10px;
}

/*.nav-item:hover {*/
/*    border-bottom: 2px solid #18CFAB;*/
/*    padding: 43px 0;*/
/*}*/

.nav-link:hover {
    color: #18CFAB;
    border-bottom: 2px solid #18CFAB;
    padding: 43px 0;
}

.nav-link {
    text-decoration: none;
    font-weight: 600;
    font-size: 16px;
    line-height: 20px;
    color: rgba(255, 255, 255, 0.6);
    text-transform: uppercase;
    margin: auto 10px;
}

.header-menu {
    text-decoration: none;
}

.search-icon {
    display: flex;
    align-items: center;
}

.header-content {
    margin-top: 264px;
    padding-bottom: 243px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;
}

.header-text-up {
    font-size: 35px;
    font-style: normal;
    text-transform: uppercase;
    color: white
}

.white {
    font-style: normal;
    text-transform: uppercase;
    color: white
}

.green {
    color: #18CFAB;
    font-style: normal;
    text-transform: uppercase;
}


.header-text-center {
    font-size: 78px;
}

.header-text-down {
    font-size: 34px;
    color: #D4D4D4;

}

.header-buttons {
    margin-top: 134px;
}

.button-green {
    width: 169px;
    height: 63px;
    background: #18CFAB;
    font-size: 15px;
    font-weight: bolder;
    border-radius: 5px;
    cursor: pointer;
    color: white;
    border: 0;
}

.button-blu {
    width: 168px;
    height: 63px;
    background: #00CBF6;
    font-size: 15px;
    font-weight: bolder;
    border-radius: 5px;
    cursor: pointer;
    color: white;
    border: 0;
}


.Explore {
    margin-right: 26px;
    box-shadow: 0 -5px 0 0 #FFFFFF;
}

.Purchase {
    box-shadow: 0 -5px 0 0 #FFFFFF;
}

.options {
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

.options-text {
    font-size: 20px;
    font-weight: 700;
}

.options-cards {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #1C2A33;
    padding-top: 100px;
    padding-bottom: 100px;
    width: calc(100% / 4);
}

.cards-green {
    background: #18CFAB;
}

.option-icon {
    margin-bottom: 47px;
}

.option-icon-green {
    margin-bottom: 68px;
}

.option-icon-next {
    margin-bottom: 68px;
}

.service {
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
}

.service-head {
    margin-top: 83px;
    font-size: 36px;
    color: #4E4E4E;
    font-weight: 100;
    padding-bottom: 100px;
}

.service-head:after {
    content: '';
    display: block;
    margin: 25px auto 0;
    width: 80px;
    height: 2px;
    background: #18CFAB;
    box-shadow: 12px 4px #18CFAB;
}

.theme-services-tabs {
    Width: 1160px;
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
}


.theme-services-tab-buttons {
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
}

.service-menu {
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
}

.service-menu-item {
    padding: 16px calc(5% - 29px);
    list-style-type: none;
    background: #F8FCFE;
    border: 1px solid #EDEFEF;
    text-decoration: none;
    color: #717171;
}

.service-menu-item:hover {
    background: #18CFAB;
    color: white;
}


.glob:after {
    content: url("../img/decor/Rectangle60.png");
    display: block;
    margin-top: 13px;
    position: absolute;
    margin-left: calc(35% / 20);
}

.service-menu-link {
    text-decoration: none;
    color: #717171;
}


.service-content {
    padding-top: 23px;
    margin: 0 auto;
    width: 1160px;
    padding-bottom: 90px;

}

.web-design {
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
}

.web-design-img {
    padding-right: 15px;
    width: 192px;
    height: 139px;
}

.web-design-text {
    text-align: start;
    font-weight: 300;
    color: #777777
}

.just-buy {
    justify-content: center;
    display: flex;
    align-items: center;
    text-align: center;
    flex-direction: column;
    background: url("../img/Layer211.png");
    height: 476px;
}

.just-buy-text-head {
    font-size: 40px;
    text-transform: uppercase;
}

.just-buy-text-down {
    margin-top: 12px;
    font-size: 16px;
    color: #D8D8D8;
    margin-bottom: 67px;
}

.our-work {
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    background:  #E9EDEF;
    flex-direction:column;
}

.our-work-menu {
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
}

.our-work-menu-item:hover {
    border: 1px solid #18CFAB;
    color: #18CFAB;
}

.our-work-menu-item {
    list-style-type: none;
    padding: 13px 15px;
    border: 1px solid #DADADA;
    text-decoration: none;
    font-size: 14px;
    color: #717171;
}

footer {
    background: #22353F;
    color: #AEAEAE;
    font-weight: 300;
    text-align: center;
    padding-top: 50px;
    padding-bottom: 50px;
    letter-spacing: 1px;
}

.colored-text {
    color: #18CFAB;
}

.service-container {
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;

}


.theme-services-tab-buttons {
    display: flex;
    justify-content: center;
    width: 1160px;
}

.tab-label {
    text-align: center;
    padding: 17px 35px;
    flex-grow: 1;
    box-sizing: border-box;
    border: 1px solid #EDEFEF;
    position: relative;
    font-size: calc(var(--font-default) * 1.1429);
    text-transform: capitalize;
    color: #717171;
    margin-bottom: 25px;

    list-style-type: none;
}

.tab-label:not(:first-of-type) {
    border-left-color: transparent;
}

.tab-label::after {
    content: '';
    position: absolute;
    width: 27px;
    height: 15px;
    top: 100%;
    left: 55%;
    transform: translateX(-100%);
    clip-path: polygon(50% 100%, 0 0, 100% 0);
    background: #18CFAB;
    display: none;
}

.tab-label:hover {
    border: 1px solid #18CFAB;
    cursor: pointer;
}

.tab-button:checked+.tab-label {
    color: white;
    background: #18CFAB;
    border-color: #18CFAB;
    cursor: pointer;
}

.tab-button:checked+.tab-label::after {
    display: block;
}

.tab-block {
    display: flex;
    align-items: flex-start;
    height: 140px;
}

.tab-block:not(:nth-of-type(1)) {
    display: none;
}

.theme-services-tab-buttons input[type=radio] {
    display: none;
}

.filter-button-block {
    display: flex;
    justify-content: center;
}

.filter-button-block input[type=radio] {
    display: none;
}

.filter-block {
    margin-top: 70px;
    margin-bottom: 70px;
}

.filter-label {
    min-width: 80px;
    padding: 15px;
    text-align: center;
    font-size: var(--font-default);
    color: #717171;
    text-transform: capitalize;
    border: 1px solid #dadada;
    cursor: pointer;
}

.filter-label:not(:first-of-type) {
    border-left-color: transparent;
    cursor: pointer;
}

.filter-button:checked+.filter-label {
    border-color: var(--color-theme-green);
    color: var(--color-theme-green);
    cursor: pointer;
}

.filter-block {
    display: flex;
    flex-wrap: wrap;
    width: 1160px;
}

.filter-block-elem {
    width: calc(100% / 4);
    height: 215px;
    object-fit: cover;
}

.filter-block-elem:hover .filter-block-elem-image {
    display: none;
}

.filter-block-elem:hover .filter-block-elem-info {
    display: block;
}


.filter-block-elem-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
}


.filter-block-elem-info {
    border-top: 2px solid var(--color-theme-green);
    padding-top: 40px;
    padding-bottom: 40px;
    text-align: center;
    display: none;
}

.button-block {
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;
    margin-bottom: 100px;
}

.btn {
    align-items: center;
    display: flex;
    text-transform: uppercase;
    justify-content: flex-start;
}

.btn::before {
    content: '+';
    font-size: calc(var(--font-default) * 2.1429);
    font-weight: 700;
    padding-left: 20px;
    padding-right: 15px;
}

.container-column {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
    padding-bottom: 90px;
}


.elem-info-links {
    display: flex;
    justify-content: center;
}

.elem-info-link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 45px;
    height: 45px;
    border: 1px solid var(--color-theme-green);
    border-radius: 50%;
    cursor: pointer;
}

.elem-info-link:not(:first-of-type) {
    margin-left: 3px;
}

.elem-info-link svg path,
.elem-info-link svg rect {
    fill: var(--color-theme-green);
}

.elem-info-link:hover {
    background: var(--color-theme-green);
}

.elem-info-link:hover svg path,
.elem-info-link:hover svg rect {
    fill: var(--color-white);
}

.elem-info-title {
    margin-top: 30px;
    margin-bottom: 10px;
    font-size: var(--font-default);
    font-weight: 700;
    color: var(--color-theme-green);
    text-transform: uppercase;
}

.elem-info-category {
    font-size: calc(var(--font-default) * 0.8572);
    font-weight: 300;
    color: #8A8A8A;
    text-transform: capitalize;
}




.breaking-news-posts {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 1160px;
}



.breaking-news-elem {
    width: calc(100% / 4 - (35px * 3 / 4));
}

.breaking-news-link {
    position: relative;
    text-align: center;
    display: block;
    margin-bottom: 45px;
    text-decoration: none
}

.breaking-news-link:hover .post-title {
    color: var(--color-theme-green);
}

.breaking-news-link:hover .post-date {
    background: var(--color-theme-green);
}

.post-image {
    width: 100%;
    height: 208px;
    object-fit: cover;
}

.post-title {
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: calc(var(--font-default) * 1.2858);
    color: #717171;
    font-weight: 700;
    text-transform: capitalize;
}

.post-credentials-item {
    display: inline-block;
    color: #777;
    font-size: var(--font-default);
    font-weight: 300;
}

.post-credentials-item:nth-of-type(odd)::after {
    content: '|';
    margin-left: 5px;
    margin-right: 5px;
}

.post-date {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    right: 0;
    width: 70px;
    height: 65px;
    background: #203E38;
}

.post-date-date,
.post-date-month {
    font-size: calc(var(--font-default) * 1.1429);
    color: var(--color-white);
}

.post-date-month {
    margin-top: 10px;
    text-transform: capitalize;
}

.tab-image {
    width: 192px;
    height: 139px;
    margin-right: 15px;
}

.image-slider {
    margin-top: 100px;
    text-align: center;
    width: 100%;
    height: 850px;
    /*background-repeat: no-repeat;*/
    /*background-size: cover;*/
    background-image: url(../img/section-slider/background-slider.jpg);
}

.image-slider-title {
    color: var(--color-white);
    font-size: 36px;
    line-height: 40px;
    margin-top: 98px;
}

.image-slider-title::after {
    content: '';
    display: block;
    margin-top: 25px;
    margin-right: auto;
    margin-left: auto;
    width: 80px;
    height: 2px;
    background: var(--color-theme-green);
    box-shadow: 12px 4px var(--color-theme-green);
}

.slide-text {
    color: #bbb;
    position: relative;
    margin-top: 137px;
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 30px;
}

.slide-text::before {
    content: '';
    position: absolute;
    width: 44px;
    height: 31px;
    bottom: 92px;
    left: calc(50% - 22px);
    background: url(../img/section-slider/invertedcommas.png);
}

.slide-text-info {
    width: 1160px;
    margin: 0 auto;
}

.image-slider__image {
    margin-top: 52px;
    text-align: center;
}

.image-slider__image img {
    height: 142px;
    width: 142px;
    border-radius: 100px;
    box-shadow: 0px 0px 0px 12px rgba(31, 218, 181, 0.2);

}

.swiper-button-prev:hover,
.swiper-button-next:hover {
    background-color: var(--color-theme-green);
}

.image-slider .swiper-button-prev::after,
.image-slider .swiper-button-next::after {
    width: 31px;
    line-height: 31px;
    color: var(--color-white);
    font-size: 10px;
}

.simage-slider .swiper-pagination {
    bottom: 0px;
    height: auto;
}

.image-slider .swiper-pagination-bullet {
    width: 60px;
    height: 60px;
    background-color: var(--color-white);
}

.slide-feedback-author {
    margin-top: 37px;
    color: var(--color-theme-green);
    font-weight: bold;
    font-size: 16px;
}

.author-position {
    margin-top: 13px;
    color: #BBBBBB;
    font-weight: normal;
    font-size: 13px;
}



footer {
    background: #22353F;
    color: #AEAEAE;
    font-weight: 300;
    text-align: center;
    padding-top: 50px;
    padding-bottom: 50px;
    font-size: var(--font-default);
    letter-spacing: 1px;
}


.preloader-bg {
    position: fixed;
    z-index: 999;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    transition: 2s;
    display: none;
    justify-content: center;
    align-items: center;
}

.preloader-bg::before {
    content: '';
    position: absolute;
    z-index: 1;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background: #000;
    opacity: 0.7;
}

.preloader-block {
    position: relative;
    width: 100px;
    height: 100px;
    z-index: 2;
}

.preloader-xy,
.preloader-xz {
    position: absolute;
    z-index: 20000;
}

.preloader-xy {
    border: 10px solid #ffffff;
    border-radius: 50%;
    border-top: 10px solid #18CFAB;
    border-bottom: 10px solid #18CFAB;
    width: 90px;
    height: 90px;
    animation: spin 1s linear infinite;
}
@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

