.hero {
  @include flex(center, center);
  padding: 50px 0;

  &__title {
    @include text(26px);
    line-height: 1.5;

    @include pseudo(before) {
      display: inline-block;
      width: 25px;
      height: 25px;
      border-radius: 50%;
      background-color: teal;
      left: 0;
      top: 50%;
      transform: translateY(-50%);
    }
  }

  &__subtitle {
    font-size: 14px;
    color: $col-text-black;

    &--uppercase {
      text-transform: uppercase;
    }
  }

  &__link {
    display: inline-block;
    text-decoration: none;
    color: $col-text-black;
    text-transform: uppercase;
    padding: 20px 40px;
    background-color: antiquewhite;
  }

  &__slogan {
    @extend .hero__subtitle;
    font-size: 48px;
    margin: 20px 0;
  }

  &__slogan--uppercased {
    text-transform: uppercase;
    color: $col-yellow;
  }
}

