* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

.header-line {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #313131;
}



.nav-logo {
    width: 27px;
    margin: 22px 27px;
    height: 27px;
    left: 13px;
    top: 22px;
}

.nav-bar-logo-link {
    text-decoration: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-text {
    font-weight: bold;
    font-size: 22px;
    line-height: 30px;
    color: #FFFFFF;
    list-style: none;
    text-decoration: none;
    display: flex;
    align-items: flex-end;
    text-align: center;
    width: 124px;
    height: 26px;
}

.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-item {
    display: inline-block;
}

.nav-link:hover {
    color: #14B9D5;;
}

.nav-link {
    text-decoration: none;
    font-weight: 600;
    font-size: 15px;
    line-height: 20px;
    color: #FFFFFF;
    text-transform: uppercase;
    margin: auto 17px;
}

.nav-item {
    display: inline-block;
}

.nav-search {
    background: #000000;
}

.search-icon {
    margin: 27px 25px;
    width: 17px;
}

.header {
    height: 369px;
    background-image: url(../img/Header.jpeg);
    background-size: cover;
    background-position: center;
    min-width: 100%;
}

.header-buttons {
    display: flex;
    justify-content: center;
}

.header-text {
    font-size: 27px;
    line-height: 37px;
    text-align: center;
    color: #FFFFFF;
    margin-bottom: 44px;
}

.subscribe {
    width: 170px;
    height: 55px;
    background: #89CA62;
    margin-right: 20px;
    border-radius: 6px;
    cursor: pointer;
    border: 0;
}

.BA {
    width: 170px;
    height: 55px;
    background: #14B9D5;
    border-radius: 6px;
    cursor: pointer;
    border: 0;
}

.header-Btn {
    padding-top: 164px;
}

.main-text {
    display: flex;
    justify-content: center;
    font-size: 27px;
    line-height: 37px;
    text-align: center;
    color: #18B4CF;
    font-style: normal;
    text-transform: uppercase;
    padding-top: 49px;
    background: #F2F2F2;
}

.main-galery {
    height: 850px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: flex-start;
    align-content: center;
    background: #F2F2F2;
    padding-top: 50px;
    padding-bottom: 72px;

}

.ideing {
    margin-bottom: 31px;

}

.main-galery-text {
    text-align: center;
    margin-top: 10px;
    margin-bottom: 20px;
    font-weight: bold;
    font-size: 18px;
    line-height: 25px;
    color: #353A3D;
}

.main-photo-galery {
    width: 370px;
    left: 0px;
    top: 0px;
    background: #FFFFFF;
    box-shadow: 0px 1px 0px rgba(0, 0, 0, 0.03);
    margin-right: 30px;

}

.main-box {
    height: 588px;
    background-image: url(../img/parallax-bg.jpeg);
    background-size: cover;
    background-position: center;
    min-width: 100%;
}

.main-box-text {
    font-size: 32px;
    line-height: 44px;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
    padding-top: 106px;
}

.main-text-block-line {
    width: 60px;
    margin: 0 auto;
    border-top: 3px solid #18B4CF;
    margin-top: 87px;
}

.partners {
    display: grid;
    grid-auto-flow: column;
    justify-content: center;
    grid-gap: 50px;
    margin-top: 106px;
}

.main-post-text {
    font-size: 27px;
    line-height: 37px;
    text-align: center;
    text-transform: uppercase;
    color: #18B4CF;
    padding-top: 49px;
    padding-bottom: 52px;
}

.main-post-inline-block {
    display: grid;
    grid-auto-flow: column;
}

.main-post-galery {
    width: 100%;
}

.main-news-text {
    font-size: 27px;
    line-height: 37px;
    text-align: center;
    text-transform: uppercase;
    color: #18B4CF;
    padding-top: 49px;
    padding-bottom: 52px;
}

.main-news-colum {
    display: grid;
    justify-items: center;
    align-items: center;
    grid-template-columns: repeat(4, 1fr);
    grid-row-gap: 44px;
}

.mein-news-big {
    display: grid;
    grid-column: span 3;
    grid-template-columns: repeat(2, 1fr);
    background: #F9F7F7;
    box-shadow: 0px 1px 0px rgba(0, 0, 0, 0.03);
    width: 856px;
}

.main-news-small {
    width: 277px;
    background: #F9F7F7;
    box-shadow: 0px 1px 0px rgba(0, 0, 0, 0.03);
    text-align: center;
}

.main-news-normal {
    width: 554px;
    grid-column: span 2;
    background: #F9F7F7;
    box-shadow: 0px 1px 0px rgba(0, 0, 0, 0.03)
}

.main-news-colum-text {
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 21px;
    align-items: center;
    text-align: right;
    color: #5B6469;
    padding-right: 13px;
}

.main-news-Head {
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 25px;
    text-align: right;
    color: #353A3D;
    padding-right: 13px;
    padding-bottom: 15px;
    padding-top: 14px;

}

.main-news-head {
    padding-top: 27px;
}

.main-news-Head-smal {
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 25px;
    text-align: center;
    color: #353A3D;
    margin-top: 15px;
}

.basement {
    height: 80px;
    background: #000000;
    margin-top: 77px;
    display: grid;
    grid-auto-flow: column;
    justify-content: space-between;
}

.basement-text {
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    line-height: 13px;
    color: #FFFFFF;
    padding-top: 29px;
    padding-left: 167px;
}

.footer-logo-text {
    color: #FFFFFF;
}

.basement-logo {
    display: grid;
    grid-auto-flow: column;
    justify-content: space-between;
    padding-top: 29px;
    padding-right: 186px;
}

.basement-down {
    margin-left: 100px;
}

.basement-right {
    margin-left: 80px;
}

.content-right {
    margin-right: 100px;
}

.content-left {
    margin-right: 80px;
}