

.main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.checker {
    border-radius: 5px;
    width: 300px;
    height: 25px;
    margin-top: 25px;
    margin-bottom: 25px;
}

.inp-green {
    border-color: #12c803;

}

.inp-red {
    border-color: #ff0000;

}



