* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

.header {
    width: 1280px;
    padding-top: 61px;
    padding-left: 98px;
    padding-bottom: 30px;
    padding-right: 100px;
}

.header-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    text-decoration: none;
}

.Logo-start {
    font-family: Roboto;
    font-size: 80px;
    line-height: 94px;
    display: flex;
    align-items: flex-end;
    text-align: center;
}

.logo-end {
    font-family: Roboto;
    color: #4bcaff;
}

.menu {
    height: 68px;
    margin-top: 38px;
    margin-bottom: 50px;
    background: #35444F;
}

.menu li:hover {
    background: #222F3A;
}

.menu li a {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: white;
    height: 69px;
    margin-right: 40px;
}

.menu-item {
    list-style: none;
    display: flex;
    justify-content: center;
    font-size: 24px;
    padding-left: 60px;
}

.menu-item-text {
    border-left: 1px solid #FFFFFF;
    padding-left: 40px;
}

.main-content {
    padding-top: 50px;
    padding-bottom: 55px;
    display: flex;
    justify-content: space-between;
}

.list {
    width: 344px;
    list-style: none;
}

.content-left li a {
    display: flex;
    align-items: center;
    justify-content: left;
    text-decoration: none;
    height: 81px;
}

.list-menu-item:hover {
    display: flex;
    justify-content: center;
    background: #DBDBDB;
    height: 81px;

}

.list-menu-item {
    text-decoration: none;
    font-size: 27px;
    line-height: 27px;
    color: #485863;
    list-style: none;
    padding-left: 44px;
}

.content-left {
    width: 344px;
    height: 405px;
    background: rgba(0, 0, 0, 0.0001);
    border: 1px solid #000000;
    margin-right: 47px;
}

.content-right {
    width: 885px;
    background: rgba(0, 0, 0, 0.0001);
    border: 1px solid #000000;
}

.image-bul {
    margin-left: 297px;
    margin-top: 75px;
    margin-bottom: 73px;
}

.content-right-text-1 {
    margin-top: 37px;
}

.content-right-text-2 {
    margin-top: 34px;
}

.page-bottom {
    display: flex;
    justify-content: space-between;
    padding-top: 21px;
    padding-bottom: 20px;
    background: #b4b7b9
}

.page-bottom-menu {
    display: flex;
    justify-content: space-between;
    list-style: none;
    text-decoration: none;
    font-size: 24px;
    line-height: 24px;
    color: #010101;
    padding-right: 40px;
}

.page-bottom-link {
    list-style: none;
    text-decoration: none;
    font-size: 24px;
    line-height: 24px;
    color: #010101;
    padding-right: 20px;
    padding-left: 20px;
}

.page-bottom-link:hover {
    color: #3181A6;
    padding-bottom: 10px;
    border-bottom: 1px solid #3181A6;
}

.page-bottom-menu-item {
    display: flex;
    justify-content: space-evenly;
}

.page-bottom-text {
    font-size: 24px;
    line-height: 24px;
    color: #010101;
    padding-right: 40px;
}

.button-rmda {
    padding-left: 40px;
}

.change-background {
    color: #ffffff;
    background-color: #000000;
    border-radius: 9px;
    cursor: pointer;
    text-transform: uppercase;
    height: 50px;
}