* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

body {
    background: url(../img/backgraund.png) no-repeat;
    min-width: 100%;
    background-size: 100% auto;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: rgba(0, 0, 0, 0.4);
    height: 58px;
    margin-bottom: 53px;
}

.logo {
    text-decoration: none;
    color: #FFFFFF;
    font-size: 22px;
    line-height: 22px;
    margin-left: 79px;
}

.logo:hover {
    color: #01813F;
}


.header-icons-calendar:hover path {
    fill: #01813F;
}

.header-icons-mail {
    text-decoration: none;
}

.header-icons-calendar {
    text-decoration: none;
}

.header-icons-compas {
    text-decoration: none;

}

.header-icons-mail:hover path {
    fill: #01813F;;
}

.header-icons-compas:hover path {
    fill: #01813F;

}

.header-icons svg {
    text-decoration: none;
    margin-right: 25px;
}

.header-right-side {
    display: flex;
}

.header-login {
    padding-top: 5px;
    border-left: 1px solid #FFFFFF;
    margin-right: 79px;
    display: flex;
    text-decoration: none;
    color: #FFFFFF
}

.login-text-welcome {
    margin-left: 27px;
}

.login-text-or {
    margin-left: 5px;
    margin-right: 5px;
}

.login-text {
    margin-left: 5px;
    text-decoration: none;
    color: #FFFFFF
}

.login-text:hover {
    color: #01813F;
}

.login-text-signup {
    text-decoration: none;
    color: #FFFFFF
}

.login-text-signup:hover {
    color: #01813F;
}

.registration-form {
    background: #FFFFFF;
    box-shadow: 0px 4px 18px rgba(0, 0, 0, 0.52);
    padding-bottom: 35px;
    padding-top: 31px;
    width: 444px;
    height: calc(100% - 130px);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    align-content: center;
    margin: 0 auto;
    gap: 15px;
}

.registration-form::before {
    content: url("../img/shape.png");
    width: 18px;
    height: 18px;
    margin-right: 426px;
    margin-bottom: 505px;
    position: absolute;
}

.reg-form-input {
    height: 46px;
    width: 324px;
    background: #FFFFFF;
    border: 1px solid #F2F2F2;
    border-radius: 4px;
    color: #434343;
    font-size: 14px;
    line-height: 14px;
    padding-left: 20px;
    outline: none;
}

.reg-form-input:focus {
    box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.21);
    border: none;
}

.button-Create-acc {
    color: #FFFFFF;
    border: none;
    width: 324px;
    height: 46px;
    background: rgba(60, 184, 120, 0.8);
    border-radius: 4px;
    cursor: pointer;
}

.button-Create-acc:hover {
    background: #01813F;
}

.reg-form-checkbox {
    margin-right: 5px;
    background: rgba(0, 0, 0, 0.0001);
    border: 1px solid #F2F2F2;
}

.reg-form-input::placeholder {
    color: #BEBEBE;
    font-size: 14px;
    line-height: 14px;
}

.check-box {
    margin-right: 65px;
}

.reg-form-checkbox-link {
    color: rgba(60, 184, 120, 0.8);
    text-decoration: none;
}

.reg-form-checkbox-link:hover {
    color: #01813F;
    text-decoration: underline;
}

.main-line {
    font-size: 14px;
    color: #848484;
    display: flex;
    justify-content: space-between;
    text-align: center;
    align-items: center;
}

.main-line::before {
    content: '';
    width: 152px;
    height: 1px;
    background: #F2F2F2;
    margin-right: 5px;
}

.main-line::after {
    content: '';
    width: 152px;
    height: 1px;
    background: #F2F2F2;
    margin-left: 5px;
}

.main-buttons {
    display: flex;
    gap: 5px;
}

.main-buttons-fb {
    display: flex;
    align-items: center;
    border: none;
    width: 160px;
    height: 48px;
    background: #305DB8;
    border-radius: 4px;
    color: #FFFFFF;
    font-size: 16px;
    cursor: pointer;
}

.main-buttons-google {
    display: flex;
    align-items: center;
    width: 160px;
    height: 48px;
    background: #DF4A32;
    border-radius: 4px;
    border: none;
    color: #FFFFFF;
    font-size: 16px;
    cursor: pointer;
}

.fb-img {
    margin-right: 38px;
    margin-left: 17px;
}

.google-img {
    margin-right: 38px;
    margin-left: 17px;
}

.main-buttons-fb:hover {
    background: #022263;
}

.main-buttons-google:hover {
    background: #AB1F09;
}

.main {
    display: flex;
    justify-content: space-between;
}

.main-sign-up {
    font-size: 20px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #434343;
    text-decoration: none;
    margin-right: 216px;
}

.main-log-in {
    font-size: 14px;
    display: flex;
    align-items: center;
    color: #3CB878;
    text-decoration: none;
}

.main-log-in:hover {
    color: #01813F;
    text-decoration: underline;
}

.main::after {
    content: '';
    margin-left: 50px;
    margin-top: 50px;
    position: absolute;
    width: 1px;
    height: 28px;
    background: #0A162F;
    mix-blend-mode: normal;
    opacity: 0.1;
}

.main::before {
    content: '';
    margin-left: 230px;
    margin-top: 50px;
    position: absolute;
    width: 1px;
    height: 28px;
    background: #0A162F;
    mix-blend-mode: normal;
    opacity: 0.1;
}