<h1>Catalog</h1>

<table>
    <thead>
        <tr>
            <th>id</th>
            <th>name</th>
            <th>price</th>
        </tr>
    </thead>
    <tbody>
        {{#each products}}
            <tr>
                <td>{{this._id}}</td>
                <td><a href="/catalog/{{this._id}}">{{this.name}}</a></td>
                <td>{{this.price}}</td>
            </tr>
        {{/each}}
    </tbody>
</table>