.image-to-show {
    width: 400px;
    height: 400px;
    position: absolute;
}

.images-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}



.slide {
    position: absolute;
    width: 400px;
    height: 400px;
    opacity: 0;
    z-index: 1;
}

.showing{
    opacity: 1;
    z-index: 2;
}

.controls {
    margin-top: 400px;
    background-color: red;
    height: 50px;
    color: white;
    border-radius: 8px;
    cursor: pointer;
    border: none;
}