.about {
  &__card-list {
    //w100p
    width: 100%;
    padding-left: 20px;
    display: grid;
    grid-column-gap: 13px;
    grid-auto-flow: column;
    overflow-x: auto;
  }

  &__content {

  }

  &__title {

  }
}