.about-card {
  box-sizing: border-box;
  width: 232px;
  height: 134px;
  padding: 24px;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-radius: 18px;
  background-color: #181927;
  color: #fefefe;

  &__date {
    font-size: 32px;
  }

  &__title {
    font-size: 15px;
  }

  &__btn {
    position: absolute;
    top: 15px;
    right: 15px;
  }
}