@import "globals/vars";
@import "globals/mixins";

* {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.container {
  box-sizing: border-box;
  width: 100%;
  margin: 0 auto;
  padding: 0 20px;

  @include mq(tbSM, true) {
    padding: 0 30px;
  }
  @media (min-width: $dt) {
    max-width: $conWidth;
    padding: 0 40px;

  }

}

@import "about";
@import "about-card";