* {
    margin: 0;
    padding: 0;
}

.page-background {
    width: 1366px;
    background: url("../img/background.png");
    background-size: cover;
}

.nav-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 1028px;
    height: 61px;
    position: relative;
    margin: 0 auto;
    padding-top: 50px;
}

.conteiner {
    display: flex;
    align-items: center;
    margin: 0 auto;
}

.logo {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin-top: 3px;
    padding-top: 50px;
}

.logo-hidden {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    opacity: 0;
    margin-top: 3px;
    padding-top: 50px;
}

.nav-bar-logo-link {
    text-decoration: none;
}

.nav-bar-logo-link:hover .logo-hidden {
    opacity: 1;
}

.nav-bar-logo-link:hover .logo {
    opacity: 0;
}

.nav-bar-logo-text {
    display: flex;
    margin-left: 60px;
    text-align: center;
    flex-direction: column;
    font-size: 29px;
    line-height: 29px;
    color: #FFFFFF;
}

.nav-bar-logo-link:hover .nav-bar-logo-text {
    color: #f26522;
}

.nav-bar-logo-link:hover .logo-text {
    color: #f26522;
}

.nav-bar-logo-text:hover {
    color: #f26522;
}

.logo-text {
    font-size: 18px;
    line-height: 18px;
    display: flex;
    align-items: center;
    color: #FFFFFF;
    text-transform: uppercase;
}

.logo-text:hover {
    color: #f26522;
}

.contacts {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.mail {
    margin-bottom: 22px;
    text-decoration: none;
    font-size: 18px;
    line-height: 18px;
    display: flex;
    align-items: center;
    color: #FFFFFF
}

.mail:hover {
    color: #f26522;
}

.phone {
    text-decoration: none;
    font-size: 18px;
    line-height: 18px;
    display: flex;
    align-items: center;
    color: #FFFFFF
}

.phone:hover {
    color: #f26522;
}

.main {
    margin-left: 60px;
    padding-top: 22px;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-wrap: wrap;
}

.main-content {
    text-decoration: none;
    position: relative;
    width: 300px;
    margin-right: 61px;
    margin-bottom: 37px;
}

.main-content:hover .tour-info {
    visibility: visible;
    opacity: 1;
    z-index: 1;
    background-color: #f26522;
}

.main-content:hover .tour-title {
    color: #f26522;
}

.info-box {
    display: flex;
    align-items: flex-end;
}

.tour-title {
    padding-top: 20px;
    size: 18px;
    color: #FFFFFF;
    text-align: center;
}

.tour-info {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    position: absolute;
    left: 0;
    right: 0;
    padding-left: 16px;
    color: #FFFFFF;
    visibility: hidden;
    z-index: -1;
    opacity: 0;
    padding-bottom: 12px;
    padding-top: 7px;
}

.from {
    font-size: 10px;
}

.price {
    font-size: 20px;
}

.details {
    font-size: 14px;
}

.details::after {
    margin-left: 16px;
    margin-right: 14px;
    content: url("../img/Vector-1.svg");
}

.footer {
    text-align: center;
    padding-bottom: 15px;
    font-size: 12px;
    color: white;
}

