.post {
  //@media screen and (max-width: 768px){
  //  display: flex;
  //  flex-direction: column;
  //  margin: 0 auto;
  //}
  box-sizing: border-box;
  position: relative;
  display: grid;
  justify-items: start;
  grid-gap: 32px;
  margin-left: 26px;
  @media screen and (min-width: 768px) {
    margin-left: 80px;
    width: 555px;
  }
  @media screen and(min-width: 1200px) {
    display: grid;
    justify-items: center;
    justify-content: space-between;
    grid-template-columns: repeat(2, 1fr);
    Width: 1165px;
  }
}

.post-title {
  color: #4E4E4E;
  font-size: 14px;
  padding-bottom: 24px;
  margin-left: 25px;
  margin-top: 38px;
  @media screen and (min-width: 768px) {
    font-size: 16px;
    margin-left: 80px;
    margin-top: 56px;
  }
  @media screen and (min-width: 1200px) {
    margin-top: 66px;
  }
}

.hidden-text {
  visibility: hidden;
  @media screen and (min-width: 768px) {
    font-size: 14px;
    color: #5C5C5C;
    visibility: visible;
  }
}

.block-card {
  @media screen and (min-width: 500px){
display: flex;
  }

  &__comment {
    cursor: pointer;
    @include text-style;
    color: #7C7C7C;
    }
    &__title {
      font-size: 16px;
      color: #4E4E4E;
  }
}

.block-text {
  margin-left: 20px;
}

.gallery-image {
  @include post-images;
}