.container {
&__about{
  //height: 693px;
}
  @media screen and (min-width: 1200px){
display: flex;
  justify-content: center;
  align-items: center;

  }
}

.top-content-img {
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 150px;
  margin-top: 23px;
  padding-right: 25px;
  padding-left: 25px;
  @media screen and (min-width: 768px) {
    height: 361px;
    margin-top: 106px;
    padding-right: 80px;
    padding-left: 80px;
  }
  @media screen and (min-width: 1200px) {
    margin-top: 118px;
    height: 550px;
    padding-right: 100px;
    padding-left: 100px;
  }
}