@import "mixins";
.footer {
  background: #000000;
  margin-top: 50px;
  display: flex;
  text-align: center;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;
  &__tittle {
    padding-top: 38px;
    padding-bottom: 8px;
    display: flex;
    color: #FEFEFE;
    font-size: 14px;
    @media screen and (min-width: 768px){
      font-size: 16px;

    }
  }
  &__description {
    width: 303px;
    font-size: 12px;
    color: #B9B9B9;
    padding-bottom: 26px;
    @media screen and (min-width: 768px){
      width: 684px;
      font-size: 16px;
    }
  }
  &__contact {
    width: 235px;
    font-size: 14px;
    color: #B9B9B9;
    padding-top: 25px;
    padding-bottom: 47px;
    @media screen and  (min-width: 768px) {
      width: 613px;
      font-size: 16px;
    }
  }
  &__icon {
    margin-right: 6px;
  }
}

.cont {
  text-decoration: none;
}
