@import "mixins";

.burger {
  position: relative;
  width: 44px;
  height: 37px;
  margin-right: 28px;
  margin-top: 23px;
  background: black;

  float: right;
  @media screen and (min-width: 768px) {
    display: none;
  }
}


.burger-menu {
  margin-left: auto;
  position: absolute;
  top: -3px;
  left: -3px;
  width: 100%;
  height: 100%;
  z-index: 1;
  opacity: 0;
  cursor: pointer;
}

.line {
  position: absolute;
  width: 17px;
  height: 2px;
  background: white;
  //text-align: center;
  margin-left: 13px;
  margin-top: 16px;
  &:before, &:after {
    content: "";
    position: absolute;
    width: 17px;
    height: 2px;
    background: white;
    top: -5px;
    transition: 0.3s;
  }
  &:after {
    top: 5px;
  }
}

.cross {
  position: absolute;
  margin-left: 13px;
  margin-top: 16px;

  &:before {
    content: "";
    position: absolute;
    width: 17px;
    height: 2px;
    background: white;
    transition: 0.3s;
    transform:rotate(-45deg);
  }

  &:after {
    content: "";
    position: absolute;
    width: 17px;
    height: 2px;
    background: white;
    transition: 0.3s;
    transform:rotate(45deg);
  }
}

.nav-bar {
  color: #4E4E4E;
  position: absolute;
  top: 60px;
  margin-right: 23px;
  @media screen and (min-width: 768px) {
    position: relative;
    width: 100%;
    margin-right: unset;
    float: right;
  }

}

.navigation {
  @include reset-style;
  background:  #F5F5F5;
  @media screen and (min-width: 768px){
    @include flex-center;
    background: white;
  }
}

.navigation-link {
  color: #4E4E4E;
  @media screen and (max-width: 768px) {
    color: #4E4E4E;
  }
  margin: 2px 0;
  padding: 8px 12px;
  font-size: 11px;
  height: 22px;
  text-decoration: none;
  font-weight: bold;
  text-transform: uppercase;
  line-height: 22px;
  letter-spacing: 1.1px;
  width: 100%;
  &:hover {
    color: #57A4A4;
    position: relative;
    left: -3px;
  }
}