@mixin flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

@mixin reset-style {
  text-decoration: none;
  list-style: none;
}

@mixin post-images {
  width: 160px;
  height: 140px;
}

@mixin text-style {
  text-decoration: none;
  font-style: normal;
  font-weight: bold;
}



@mixin border-icons {
  cursor: pointer;
  padding: 12px;
  border-radius: 50%;
  font-size: 14px;
  border: 2px solid;
  width: 34px;
  height: 34px;
}

@mixin flex-column {
  display: flex;
  flex-direction: column;
}