@import "mixins";
@import "header";
@import "footer";
@import "block-card";
@import "container";

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  //overflow-x:hidden;
  font-family: 'Roboto', sans-serif;
}

.header-line {
  @include flex-column;
  align-items: flex-end;
}

.hidden {
  display: none;
  @media screen and (min-width: 768px) {
    display: unset;
  }
}

