* {
    /*m0+p0*/
    margin: 0;
    padding: 0;
}

body {
    font-family: sans-serif;
}

.container {
    width: 1170px;
    margin: 0 auto;
}

.hero {
    /*background-image: url(../img/hero-bg.jpg);*/
    /*background-repeat: no-repeat;*/
    /*background-position: center;*/
    background: url("../img/hero-bg.jpg") no-repeat center;
    background-size: cover;
    padding-top: 530px;
    padding-bottom: 150px;
}

.hero-title {
    font-weight: bold;
    font-size: 48px;
    line-height: 59px;
    text-transform: uppercase;
    color: #FFFFFF;
}

.hero-subtitle {
    font-weight: normal;
    font-size: 18px;
    line-height: 22px;
    color: #ffffff;
    margin: 15px 0 20px;
}

.hero-slogan {
    width: fit-content;
    font-weight: bold;
    font-size: 54px;
    line-height: 66px;
    padding-right: 30px;
    text-transform: uppercase;
    color: #ffffff;
    background: rgba(0, 0, 0, 0.4);
}

.hero-slogan-accent {
    display: inline-block;
    padding: 40px 25px 40px 30px;
    margin-right: 25px;
    border-right: 1px solid #F48E0B;
}

.text-block {
    text-align: center;
}

.text-block-title {
    text-transform: uppercase;
    font-weight: bold;
    font-size: 22px;
    line-height: 22px;
    color: #333333;
    margin-bottom: 30px;
}

.text-block-desc {
    font-size: 17px;
    line-height: 24px;
    color: #4D4943;
    margin-bottom: 45px;
}

.text-block-line {
    width: 60px;
    margin: 0 auto;
    border-top: 7px solid #F48E0B;
}

.text-block-img {
    width: 280px;
    margin-top: 55px;
}

.achievements {
    padding: 70px 0 30px;
}

.navigation {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 22px 0;
    border-bottom: 3px solid #F1B128;
}

.navigation-company {
    font-size: 28px;
    font-weight: bold;
    color: #F1B128;
    vertical-align: top;
}

.navigation-menu {
    width: 70%;
    display: flex;
    justify-content: space-between;
    list-style: none;
}

.navigation-menu-item {
}

.navigation-menu-item-first {
    margin-left: 0;
}

.navigation-menu-link {
    font-size: 18px;
    line-height: 22px;
    text-decoration: none;
    color: #3d3d3d;
}

.portfolio {
    display: flex;
    justify-content: space-between;
}

.portfolio-types {
    width: calc(50% - 15px);
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.portfolio-type {
    box-sizing: border-box;
    width: calc(50% - 15px);
    padding: 95px 15px 10px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    margin-bottom: 25px;
}

.consulting-bg {
    background-image: url('../img/portfolio-consulting.jpg');
}

.photoshop-bg {
    background-image: url('../img/portfolio-photoshop.jpg');
}

.web-bg {
    background-image: url('../img/portfolio-web-design.jpg');
}

.advertising-bg {
    background-image: url('../img/portfolio-advertising.jpg');
}

.portfolio-type-title {
    width: 117px;
    padding: 15px;
    font-size: 14px;
    line-height: 14px;
    color: #fff;
    background-color: #333;
}

.portfolio-description {
    width: calc(50% - 15px);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.portfolio-title {

}

.portfolio-text-wrapper > p {
    margin: 15px 0;
}

.portfolio-text {
    font-weight: 300;
    font-size: 14px;
    line-height: 22px;
    color: #505050;
}

.portfolio-btn {
    align-self: flex-start;
}

.gallery-menu {
    padding: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.gallery-button {
    padding: 15px 40px;
    font-weight: 300;
    border: 1px solid #333;
    background-color: #fff;
}

.gallery-button:not(:last-child) {
    margin-right: 14px;
}

.gallery-button.active {
    color: #F48E0B;
    background-color: #333;
}

.gallery-block {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.gallery-item {
    width: calc(25% - 7.5px);
    margin-bottom: 7.5px;
    text-align: center;
    box-sizing: border-box;
    border: 2px solid transparent;
}

.gallery-image {
    width: 100%;
    vertical-align: middle;
}

.galerry-description {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    font-size: 18px;
    line-height: 22px;
    font-weight: 300;
    padding: 40px 0;
    border-color: #333333;
}

.gallery-delimetr {
    border-top: 3px solid #F1AD1D;
    width: 65px;
    margin: 25px 0;
}

.item-text {
    font-size: 14px;
    line-height: 17px;
    font-weight: 300;
    margin-bottom: 25px;
}

.item-button {
    background-color: #F1AD1D;
    color: #fff;
    padding: 12px 33px;
    border: none;
}


.blog {
    height: 850px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: flex-start;
    align-content: space-between;
}

.blog-card {
    width: calc((100% / 3) - 20px);
    border-bottom: 6px solid #333333;
    margin-bottom: 30px;
}

.blog-card-img {
    width: 100%;
    margin-bottom: 10px;
}

.blog-card-title {
    font-weight: bold;
    font-size: 18px;
    line-height: 22px;

    display: flex;
    align-items: center;
}

.blog-card-icon {
    width: 12px;
    padding: 12px;
    background-color: #333333;
    margin-right: 10px;
}

.blog-card-text {
    font-size: 14px;
    line-height: 17px;
    margin: 15px 0;
    color: #505050;
}

.blog-card-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0;
    border-top: 4px solid #C1C1C1;
}

.blog-card-info-text {
    text-transform: uppercase;
    font-size: 12px;
    line-height: 18px;
    color: #828282;
}

a.blog-card-info-text {
    text-decoration: none;
}

.container {

}

.body {
    overflow: scroll;
}

body::-webkit-scrollbar {
    width: 1em;
}

body::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

body::-webkit-scrollbar-thumb {
    background-color: #f48e0b;
    outline: 1px solid #f10202;
}


.text-yellow {
    color: #F48E0B;
}


.navigation {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 25px;
    border-bottom: 3px solid #f1b128;
    background-color: rgba(255, 255, 255, 0.3);
    z-index: 1;
}

.navigation-company {
    font-size: 28px;
    font-weight: bold;
    color: #f1b128;
    vertical-align: top;
}

.navigation-menu {
    width: 70%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
}

.navigation-menu-item {
    position: relative;
    display: flex;
    align-items: center;
}

.navigation-menu-item:hover .navigation-sublist {
    opacity: 1;
    pointer-events: initial;
}

.navigation-menu-dropdown::after {
    content: '';
    /*display: inline-block;*/
    width: 15px;
    height: 15px;
    clip-path: polygon(100% 15%, 0 15%, 50% 100%);
    background: #f48e0b;
    margin-left: 15px;
}

.navigation-menu-item-first {
    margin-left: 0;
}

.navigation-menu-link {
    font-size: 18px;
    line-height: 22px;
    text-decoration: none;
    color: #3d3d3d;
}

.navigation-sublist {
    opacity: 0;
    pointer-events: none;
    position: absolute;
    top: 30px;
    width: 250px;
    background-color: #c2c2c2;
}

 .hero::before {
     background: #010101;
 }

 .navigation-sublist-item::before {
     content:  "prikol" counter(my-awesome-counter);
     font-weight: bold;
     font-size: 3rem;
     font-family: 'Abril Fatface', serif;
     line-height: 1;

 }

 :root {
     --primary-color: #f48e0b;
 }