.game{
    width: 900px;
    height: 200px;
    border-bottom: 1px solid black;
    margin: auto;
}

#cat {
    width: 50px;
    height: 50px;
    background-image: url("../img/cat.png");
    background-size: 50px 50px;
    position: relative;
    top: 150px;
}

/*#ball{*/
/*    width: 40px;*/
/*    height: 40px;*/
/*    background-image: url("../img/dog2.png");*/
/*    background-size: 40px 40px ;*/
/*    position: relative;*/
/*    top: 110px;*/
/*    left: 1180px;*/
/*    animation: ballMov 1s infinite linear;*/
/*}*/

.ball {
    width: 40px;
    height: 40px;
    background-image: url("../img/dog2.png");
    background-size: 40px 40px ;
    position: relative;
    top: 110px;
    left: 1180px;
    animation: ballMov 2s infinite linear;
}

@keyframes ballMov {
    0% {
        left: 1180px;
    }
    100% {
        left: -7px;
    }

}

.jump {
    animation: catJump 0.3s  linear;
}

@keyframes catJump {
    0% {
        top: 150px;
    }
    10% {
        top: 130px;
    }
    20% {
        top: 115px;
    }
    30% {
        top: 100px;
    }
    40% {
        top: 90px;
    }
    50% {
        top: 80px;
    }
    60% {
        top: 90px;
    }
    70% {
        top: 100px;
    }
    80% {
        top: 115px;
    }
    90% {
       top: 130px;

    }
    100% {
        top: 150px;
    }

}

.score-table {
    top: 0 ;
    position: absolute;
    margin-left: 1366px;
    display: flex;
    justify-content: right;
}

#score{
    margin-left: 12px;
    padding: 15px;
    background: #000;
    color: #ffffff;
    display: inline-block;
    font-weight: bold;
    border-radius: 4px;
}


.second-level {
    text-align: center;
    font-family: 'Bowlby One SC', cursive;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 25px;
    text-shadow:  2px 2px 3px #868383;
    /*visibility: hidden;*/
}

.score-text {
    font-family: 'Bowlby One SC', cursive;
}


.nextlvl {
    width: 800px;
    height: 800px;
}