/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
<<<<<<< dist/css/style.css
margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

* {
  margin: 0;
  padding: 0;
  font-family: "Montserrat", sans-serif; }

a {
  text-decoration: none; }

.information {
  font-family: "Montserrat", sans-serif; }

.wrapper {
  margin: 0 auto;
  max-width: 480px;
  width: 100%;
  display: block;
  text-align: center; }

.buttons {
  text-align: center;
  vertical-align: baseline;
  margin: 0 auto; }
.buttons__list {
  width: 138px;
  height: 30px;
  border-radius: 3px;
  border: 1px solid #c7c4c4;
  background-color: whitesmoke;
  box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.25);
  margin-left: 10px;
  margin-bottom: 20px; }
.buttons__icons {
  padding-top: 3px;
  padding-right: 5px;
  margin: 0 auto;
  display: inline-block;
  height: 26px;
  padding-left: 6px;
  font-size: 13px;
  color: black;
  font-weight: bold;
  vertical-align: middle; }
.buttons__social-count {
  margin: 0 auto;
  height: 26px;
  font-size: 12px;
  color: black;
  font-weight: bold;
  vertical-align: middle;
  border-left: 0.5px solid #c7c4c4;
  padding-top: 6px;
  padding-bottom: 3px;
  padding-left: 9px;
  padding-right: 15px;
  background-color: white; }

.revolutionary {
  padding-left: 21px;
  padding-right: 21px; }
.revolutionary__trial {
  padding-top: 12px;
  padding-bottom: 79px;
  font-size: 14px;
  line-height: 14px;
  color: #848E97; }
.revolutionary__title {
  font-size: 26px;
  line-height: 28px;
  font-weight: bold;
  text-transform: uppercase;
  color: #635C73;
  padding-bottom: 27px; }
.revolutionary__description {
  font-size: 14px;
  line-height: 20px;
  font-weight: normal;
  color: #323232;
  padding-bottom: 36px; }

@media (min-width: 768px) {
  .wrapper {
    max-width: 768px;
    margin: 0 auto; }
  .revolutionary__title {
    padding-bottom: 33px;
    font-size: 42px;
    line-height: 42px; }
  .revolutionary__description {
    font-size: 21px;
    line-height: 32px; } }

@media (min-width: 1200px) {
  .wrapper {
    max-width: 1200px;
    margin: 0 auto; }
  .revolutionary__title {
    font-size: 54px;
    line-height: 54px;
    padding-bottom: 35px; }
  .buttons {
    padding-bottom: 70px; } }

.hwyg {
  font-family: "Montserrat", sans-serif; }

.features {
  padding-left: 21px;
  padding-right: 21px; }
.features__title {
  padding-top: 120px;
  padding-bottom: 36px;
  color: #8D81AC;
  font-style: normal;
  font-weight: bold;
  font-size: 32px;
  line-height: 38px; }
.features__text {
  padding-top: 27px;
  padding-bottom: 40px; }
.features__item {
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 16px;
  color: #323232;
  padding-bottom: 14px; }
.features__descriptions {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 21px;
  color: #848E97; }

.editor {
  text-align: right;
  right: 0; }
.editor__pic {
  text-align: right;
  right: 0; }

.hwyg-desktop__title {
  display: none; }

@media (min-width: 768px) {
  .features {
    text-align: left;
    max-width: 768px;
    margin: 0 auto; }
  .features__title {
    margin-top: 160px;
    padding-bottom: 60px;
    font-size: 42px;
    line-height: 44px; }
  .features__block {
    display: flex;
    gap: 45px;
    margin-top: 5%;
    width: 100%; }
  .features__picture {
    position: relative;
    padding-top: 20%;
    width: 34%; }
  .features__icons {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%; }
  .features__text {
    margin-left: 0%;
    padding-top: unset;
    justify-content: start; }
  .editor {
    text-align: right;
    width: 100%;
    margin-right: 0;
    margin-top: 96px; }
  .editor__pic {
    height: 519px;
    width: 700px;
    right: 0;
    text-align: right; }
  .hwyg-desktop__title {
    display: none; } }

@media (min-width: 1200px) {
  .hwyg {
    background: #E5E5E5;
    display: flex; }
  .hwyg-desktop {
    padding-top: 94px;
    display: flex; }
  .hwyg-desktop__title {
    margin-top: 94px;
    display: unset;
    padding-bottom: 36px;
    color: #8D81AC;
    font-style: normal;
    font-weight: bold;
    font-size: 48px;
    line-height: 50px; }
  .hwyg-desktop .features__text {
    padding-bottom: 10px; }
  .hwyg-desktop .editor {
    margin-top: 94px; }
  .hwyg-desktop .editor__pic {
    padding-top: 36px; }
  .features__title {
    display: none; } }

.pricing {
  background: rgba(36, 18, 42, 0.781); }

.pricewrap {
  max-width: 1115px;
  margin: 0 auto;
  font-family: "Montserrat", sans-serif; }

.forksub-title {
  padding-top: 14px;
  color: #FFFFFF;
  font-weight: 700;
  font-size: 28px;
  line-height: 42px; }

.price {
  margin: 18px; }
.price__title {
  background: rgba(208, 184, 223, 0.37);
  margin: 0 auto;
  height: 97px;
  width: 257px;
  font-size: 24px;
  line-height: 24px;
  color: #FFFFFF;
  text-transform: uppercase;
  display: flex;
  align-items: center;
  justify-content: center; }

.priceblock {
  background: rgba(197, 171, 207, 0.233);
  width: 257px;
  margin: 0 auto;
  font-family: "Montserrat", sans-serif; }
.priceblock__number {
  padding-top: 30px;
  font-weight: 700;
  font-size: 60px;
  line-height: 62px;
  text-transform: uppercase;
  font-weight: bold;
  color: #FFFFFF; }
.priceblock__permonth {
  margin-top: 20px;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 16px;
  text-transform: uppercase;
  color: #FFFFFF; }
.priceblock__permonth::after {
  content: " ";
  position: absolute;
  width: 60px;
  height: 5px;
  background: #8D81AC;
  transform: translate(-125%, 840%); }
.priceblock__options {
  margin-top: 73px;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 18px;
  color: #FFFFFF; }
.priceblock__options-first {
  padding-top: 21px; }
.priceblock__options2 {
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 18px;
  color: #FFFFFF; }
.priceblock__purchase {
  margin-top: 37px;
  color: #FFFFFF;
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 15px;
  text-transform: uppercase;
  width: 163px;
  height: 45px;
  border-radius: 30px;
  margin-bottom: 36px;
  border-style: none;
  background: rgba(208, 184, 223, 0.37); }

.price-active__title {
  font-weight: normal;
  font-size: 24px;
  line-height: 24px;
  text-transform: uppercase;
  color: #FFFFFF;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 299px;
  height: 111px;
  margin: 0 auto;
  background: rgba(40, 20, 46, 0.301); }

.priceblock-active {
  background: rgba(53, 18, 51, 0.109);
  margin: 0 auto;
  font-family: "Montserrat", sans-serif;
  width: 299px; }
.priceblock-active__number {
  font-weight: bold;
  font-size: 82px;
  line-height: 84px;
  color: #FFFFFF;
  padding-top: 57px;
  text-transform: uppercase; }
.priceblock-active__permonth {
  margin-top: 16px;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 16px;
  color: #FFFFFF;
  text-transform: uppercase; }
.priceblock-active__permonth::after {
  content: " ";
  position: absolute;
  width: 60px;
  height: 5px;
  background: #8D81AC;
  transform: translate(-118%, 1140%); }
.priceblock-active__options {
  margin-top: 91px;
  font-weight: normal;
  font-size: 16px;
  line-height: 32px;
  color: #FFFFFF; }
.priceblock-active__options2 {
  font-weight: normal;
  font-size: 16px;
  line-height: 32px;
  color: #FFFFFF; }
.priceblock-active__purchase {
  margin-top: 83px;
  font-weight: normal;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  border-radius: 30px;
  margin-bottom: 47px;
  border-style: none;
  width: 190px;
  height: 52px;
  background: rgba(208, 184, 223, 0.37);
  color: #FFFFFF; }

@media (min-width: 768px) {
  .forksub {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    padding-top: 39px; }
  .price {
    width: 100%; }
  .price-4 {
    display: flex;
    align-items: center;
    justify-content: center; }
  .forksub-title {
    padding-top: 98px;
    font-weight: bold;
    font-size: 42px;
    line-height: 44px; } }

@media (min-width: 1200px) {
  .pricewrap {
    height: 847px; }
  .forksub {
    display: flex;
    align-items: center;
    justify-content: space-around; }
  .forksub-title {
    padding-top: 83px;
    font-size: 48px;
    line-height: 50px; } }
=======

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box; }

.header {
  display: flex;
  align-content: center;
  background: #27262A;
  padding-top: 32px;
  padding-bottom: 30px;
  justify-content: space-between;
  align-items: center; }
@media screen and (min-width: 768px) {
  .header {
    padding-bottom: 55px; } }
@media screen and (min-width: 1190px) {
  .header {
    background: #010005; } }
.header__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%; }
.header__logo-block {
  margin-left: 16px;
  display: flex;
  flex-direction: row; }

.purchase-btn {
  width: 119px;
  height: 37px;
  font-size: 15px; }
@media screen and (min-width: 768px) {
  .purchase-btn {
    margin-right: 20px; } }

.btn {
  border-radius: 40px;
  color: #FFFFFF;
  background-color: #8D81AC;
  font-weight: bold;
  cursor: pointer;
  border: none; }
.btn:hover {
  border-radius: 40px;
  color: #8D81AC;
  background-color: white;
  border: 1px solid #8D81AC;
  outline: none;
  font-weight: bold;
  cursor: pointer; }

.logo-link {
  text-decoration: none;
  display: flex; }
.logo-link:hover .st0 {
  fill: #fff; }
.logo-link:hover .logo-name {
  color: white; }

.logo {
  width: 43px;
  height: 41px; }

.logo-name {
  visibility: hidden;
  position: absolute;
  font-family: sans-serif; }
@media screen and (min-width: 768px) {
  .logo-name {
    position: relative;
    visibility: visible;
    color: #8D81AC;
    display: flex;
    align-items: center;
    margin-left: 17px;
    font-size: 24px;
    font-style: normal;
    font-weight: bold;
    margin-top: 10px; } }

.top-content-img {
  background-attachment: inherit;
  background-repeat: no-repeat;
  background-position: 50% 68%;
  height: 600px;
  background-size: cover;
  width: 100%; }

.burger {
  position: relative;
  width: 44px;
  height: 37px;
  margin-right: 16px;
  float: right; }
@media screen and (min-width: 768px) {
  .burger {
    display: none; } }

.burger-menu {
  margin-left: auto;
  position: absolute;
  top: -3px;
  left: -3px;
  width: 100%;
  height: 100%;
  z-index: 1;
  opacity: 0;
  cursor: pointer; }

.line {
  position: absolute;
  width: 26px;
  height: 3px;
  border-radius: 5px;
  border: 1px;
  background: white;
  margin-left: 13px;
  margin-top: 16px; }
.line:before, .line:after {
  content: "";
  position: absolute;
  width: 26px;
  height: 3px;
  background: white;
  top: -6px;
  transition: 0.3s;
  border-radius: 5px; }
.line:after {
  top: 6px; }
.line:before {
  width: 15px;
  height: 3px;
  right: 0; }

.cross {
  position: absolute;
  margin-left: 13px;
  margin-top: 16px; }
.cross:before {
  content: "";
  position: absolute;
  width: 17px;
  height: 2px;
  background: white;
  transition: 0.3s;
  transform: rotate(-45deg); }
.cross:after {
  content: "";
  position: absolute;
  width: 17px;
  height: 2px;
  background: white;
  transition: 0.3s;
  transform: rotate(45deg); }

.hidden {
  visibility: hidden; }
@media screen and (min-width: 768px) {
  .hidden {
    visibility: visible; } }

.navbar {
  z-index: 1;
  position: absolute;
  left: 50%;
  top: 103px;
  transform: translateX(-50%);
  width: 291.9px; }
@media screen and (min-width: 500px) {
  .navbar {
    width: 500px; } }
@media screen and (min-width: 768px) {
  .navbar {
    top: 35px;
    transform: none;
    left: 20%; } }
@media screen and (min-width: 900px) {
  .navbar {
    top: 35px;
    transform: none;
    left: 26%; } }
@media screen and (min-width: 1200px) {
  .navbar {
    top: auto;
    left: 46%; } }
@media screen and (min-width: 1300px) {
  .navbar {
    top: auto;
    left: 50%; } }
@media screen and (min-width: 1400px) {
  .navbar {
    top: auto;
    left: 52%; } }
@media screen and (min-width: 1450px) {
  .navbar {
    top: auto;
    left: 56%; } }
.navbar__list {
  background: #807878;
  list-style: none;
  user-select: none; }
@media screen and (min-width: 768px) {
  .navbar__list {
    display: flex;
    flex-direction: row;
    align-items: center;
    display: flex;
    align-items: center;
    justify-content: center;
    background: none;
    margin-top: 20px; } }
@media screen and (min-width: 1200px) {
  .navbar__list {
    margin-top: auto; } }
.navbar__item {
  background: #333333;
  margin-bottom: 1px; }
@media screen and (min-width: 768px) {
  .navbar__item {
    background: none; } }
.navbar__item:last-child {
  margin-bottom: 1px; }
.navbar__link {
  position: relative;
  display: inline-block;
  width: 90%;
  margin-bottom: 21px;
  margin-left: 35px;
  margin-top: 29px;
  font-size: 24px;
  text-decoration: none;
  color: #fff;
  font-family: sans-serif; }
@media screen and (min-width: 768px) {
  .navbar__link {
    color: #8D81AC;
    font-size: 16px; } }
.navbar__link:hover {
  color: #8D81AC; }
@media (min-width: 768px) {
  .navbar__link:hover {
    color: #ffffff; } }
.navbar__link:hover:before {
  content: "";
  display: block;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 8px;
  background-color: #8D81AC;
  height: 53px;
  left: -35px; }
@media (min-width: 768px) {
  .navbar__link:hover:before {
    content: none;
    color: white; } }

.welcome {
  background-image: url("https://telegra.ph/file/224ebe7827ac001f2dd08.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 68%;
  height: 600px; }
.welcome__container {
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
  align-content: center;
  flex-direction: column; }
.welcome__texts {
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
  align-content: center;
  flex-direction: column; }
.welcome__title {
  margin-top: 50px;
  top: 153px;
  font-weight: bold;
  font-size: 48px;
  font-family: sans-serif;
  color: #FFFFFF;
  margin-bottom: 19px; }
@media screen and (min-width: 768px) {
  .welcome__title {
    top: 186px;
    font-size: 72px; } }
@media screen and (min-width: 1400px) {
  .welcome__title {
    font-size: 72px; } }
.welcome__description {
  font-weight: bold;
  top: 221px;
  color: #8D81AC;
  font-size: 18px;
  font-family: sans-serif;
  margin-bottom: 14px; }
@media screen and (min-width: 768px) {
  .welcome__description {
    font-size: 24px;
    left: 21%; } }
@media screen and (min-width: 1200px) {
  .welcome__description {
    font-size: 24px; } }
.welcome__version {
  font-weight: bold;
  top: 287px;
  color: #848E97;
  font-size: 14px;
  font-family: sans-serif; }

.download-btn {
  width: 290px;
  height: 45px;
  transform: translate(0%, 627%); }
@media screen and (min-width: 100px) {
  .download-btn {
    transform: translate(0%, 740%); } }
@media screen and (min-width: 207px) {
  .download-btn {
    transform: translate(0%, 880%); } }
@media screen and (min-width: 470px) {
  .download-btn {
    transform: translate(0%, 920%); } }
@media screen and (min-width: 768px) {
  .download-btn {
    width: 390px;
    height: 62px;
    transform: translate(0%, 600%); } }

.testimonials {
  background-image: url("https://telegra.ph/file/62a2929bcb01777657b5c.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #423444;
  padding: 0 10px; }
.testimonials__container {
  width: 90%;
  margin: 0 auto; }
@media (min-width: 1200px) {
  .testimonials__container {
    width: 1200px;
    margin: 0 auto; } }
.testimonials__separator {
  background-color: #645766;
  height: 2px; }
.testimonials__break {
  padding: 22px 0px 71px 0px; }
@media (min-width: 481px) and (max-width: 992px) {
  .testimonials__break {
    padding: 19px 0px 71px 0px; } }
@media (min-width: 993px) and (max-width: 1200px) {
  .testimonials__break {
    width: 65%;
    padding: 16px;
    margin: 0 auto; } }
@media (min-width: 1200px) {
  .testimonials__break {
    width: 65%;
    padding: 16px;
    margin: 0 auto; } }
.testimonials__title {
  text-align: center;
  color: #fff;
  padding-top: 67px;
  line-height: 48px;
  font-weight: bold;
  font-size: 36px; }
@media (min-width: 481px) and (max-width: 992px) {
  .testimonials__title {
    line-height: 44px;
    padding-top: 108px;
    font-size: 42px; } }
@media (min-width: 992px) {
  .testimonials__title {
    line-height: 50px;
    padding-top: 108px;
    font-size: 48px; } }
.testimonials__descriprion {
  color: #a291a5;
  text-align: center;
  padding-top: 37px;
  opacity: 0.8;
  line-height: 21px;
  font-size: 14px; }
@media (min-width: 481px) and (max-width: 992px) {
  .testimonials__descriprion {
    display: inline-block;
    padding-top: 67px; } }
@media (min-width: 993px) and (max-width: 1200px) {
  .testimonials__descriprion {
    width: 70%;
    margin: 0 auto;
    display: block;
    line-height: 26px;
    padding-top: 118px; } }
@media (min-width: 1200px) {
  .testimonials__descriprion {
    padding-top: 118px;
    width: 70%;
    margin: 0 auto;
    display: block;
    line-height: 26px; } }

.clients {
  display: flex;
  flex-direction: column; }
@media (min-width: 481px) {
  .clients {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between; } }
.clients__card {
  display: flex;
  flex-direction: column;
  justify-content: center; }
@media (min-width: 481px) and (max-width: 992px) {
  .clients__card {
    width: 40%; } }
@media (min-width: 993px) and (max-width: 1200px) {
  .clients__card {
    width: 26%;
    padding: 30px; } }
@media (min-width: 1200px) {
  .clients__card {
    width: 26%; } }
.clients__logo {
  align-self: center;
  width: 165px;
  padding: 49px 0px 37px 0px; }
@media (min-width: 481px) and (max-width: 992px) {
  .clients__logo {
    padding: 75px 1px 37px 1px; } }
.clients__small-logo {
  height: 100%;
  width: unset; }
@media (min-width: 481px) and (max-width: 992px) {
  .clients__small-logo {
    height: unset;
    padding: 49px 1px 21px 1px; } }
@media (min-width: 993px) and (max-width: 1200px) {
  .clients__small-logo {
    height: unset; } }
@media (min-width: 1200px) {
  .clients__small-logo {
    height: unset; } }
.clients__text {
  color: #fff;
  font-style: italic;
  text-align: center;
  font-weight: bold;
  line-height: 24px; }

* {
  margin: 0 auto;
  padding: 0;
  font-family: sans-serif; }

.revolutionary__trial {
  font-size: 14px;
  line-height: 14px;
  color: #848E97; }

.revolutionary__title {
  font-size: 26px;
  line-height: 28px;
  text-transform: uppercase;
  color: #8D81AC; }

.revolutionary__description {
  font-size: 14px;
  line-height: 20px;
  font-weight: normal;
  color: #323232; }
>>>>>>> dist/css/style.css
