.about-card {
  box-sizing: border-box;
  width: 232px;
  height: 134px;
  padding: 24px;
  position: relative;
   display: flex;
   flex-direction: column;
   justify-content: space-between;
  border-radius: 18px;
  background-color: #181927;
  color: #FEFEFE;
  @include flex(column, space-between);
  //@media(min-width: 980px)
  //{
  //   width: 980px / 2;
  //   grid-template-columns: repeat(2, 1fr);
  //   grid-column-gap: 90px;
  //   display: block;
  //}
  &__date {
  }
  &__title {
  }
  &__btn {
    position: absolute;
    top: 15px;
    right: 15px;
  }
}