.about {

  &__card-list {
    //w100p
    width: 100%;
    padding-left: 20px;
    display: grid;
    grid-column-gap: 13px;
    grid-auto-flow: column;
    overflow-x: auto;
    //grid-area: card;
  }

  &__content {
    //grid-area: aboutus;
  }

  &__title {
  }
  @media(min-width: 980px)
  {
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-column-gap: 90px;
    &__card-list
    {
      width: calc(100% /2 - 45px);
      grid-template-columns: repeat(2,1fr);
      grid-gap: 16px 13px;
      grid-auto-flow: row;
      overflow-x: initial;
    }
    &__content
    {
    }
  }
}

