* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

body {
    background: #010101;
    min-width: 100%;
    background-size: 100% auto;
}

.main {
    position: absolute;
    width: 900px;
    height: 40em;
    bottom: 0;
    font-size: 2.5em;
    line-height: 1.5;
    text-align: justify;
    transform-origin: 50% 90%;
    transform: perspective(200px) rotateX(20deg);
    overflow: hidden;
    animation-direction: normal;
    margin-left: 300px;
}

.text {
    text-align: center;
    margin-bottom: 50px;
}

.content {
    text-align: start;
}

.item {
    color: #f8cc00;
    margin: 0 auto;
    position: absolute;
    top: 100%;
    animation: run 70s 1s linear infinite;
}

@keyframes run {
    0% {
        top: 100%;
    }
    100% {
        top: -100%;
    }
}
