* {
    /*m0=p0*/
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

.menu {
    list-style: none;
    text-align: center;
    color: #FF0000;
    padding-top: 25px;
    padding-bottom: 25px;
}

.menu-item {
    display: inline-block;
    margin: 0 36px;
}

.text {
    text-align: center;
    color: #373737;
    padding-top: 50px;
    padding-bottom: 29px;
}

.conteiner {
    width: 1170px;
    margin: 0 auto;
}

.text-content-1 {
    padding-bottom: 28px;
    padding-top: 38px;
}

.text-content-2 {
    padding-bottom: 66px;
}

.text-down {
    padding-top: 82px;
    text-align: right;
    color: #373737;
    padding-bottom: 29px;
}

.button {
    width: 191px;
    height: 51px;
    left: 544.5px;
    top: 557px;
    color: white;
    background: #FF0000;
    border-radius: 4px;
    cursor: pointer
}