

.container {
    box-sizing: border-box;
    max-width: 1240px;
    width: 100%;
    margin: 0 auto;
    padding: 0 20px;
}
.partners {
    display: grid;
    grid-auto-flow: column;
    color: #F48E0B;
}
.partners-item {
    width: 100%;
}

.grit-parent {
    display: grid;
    grid-template-columns: 250px 20px 100px;
    grid-template-rows: 300px 7px 700px;
    grid-auto-rows: 150px;
    grid-gap: 20px 50px;
}

.grit-child {
    background-color: aqua;
}

.catalog {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 52px 30px;

}

.catalog-cart {
    padding: 20px 36px 36px;
    display: grid;
    grid-row-gap: 30px;
    background: #FFFFFF;
    box-shadow: 0px 0px 50px rgba(0, 0, 0, 0.05);
    border-radius: 10px;
}

.page-bottom {
    display: grid;
    grid-template-columns: 3fr 1fr 1fr 1fr;
    grid-row-gap: 50px;
}

.connection {
    grid-column: 1 / span 4;
}

.connection-slogan{
    display: flex;
    align-items: center;
    justify-content: center;
    text-transform: uppercase;
    padding: 40px;
    font-weight: 500;
    border-radius: 10px;
    font-size: 35px;
    line-height: 45px;
    color: #0B132A;
    font-family: sans-serif;
    background: #FFFFFF;
    box-shadow: 0px 0px 50px rgba(0, 0, 0, 0.05);

}

.portfolio {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 15px 15px;
    grid-column: span;

}

.portfolio-item {
    justify-content: space-between;
    width: 281px;
    height: 271px;
}

.info {
    text-align: center;
}

.gallery-delimetr {
    width: 64px;
    height: 3px;
    left: 110px;
    top: 93px;

    background: #F1AD1D;
}


.conteiner-navigation {
    display: flex;
    text-align: center;
    list-style: none;
    padding: 22px 0;
    justify-content: space-between;
    position: fixed;
    top: 20px;


}

.navigation-company {
    padding-right: 200px;
    padding-left: 50px;
}


.navigation-menu-item {
    display: inline-block;
    margin-right: 69px;
    padding-bottom: 32px;
}

.text-yellow  {
    color: #F48E0B;

}