@import "globals/vars";
@import "globals/mixins";

* {
  margin: 0;
  padding: 0;
}

.container {
  box-sizing: border-box;
  width: 100%;
  margin: 0 auto;
  padding: 0 20px;

  @include mq(tbSM, true) {
    padding: 0 30px;
  }
  @media (min-width: $dt) {
    max-width: $conWidth;
    padding: 0 40px;
  }
}
img {
  width: 100%;
}

@include grid(mygrid, 8, 20px)

@import "hero/hero";
@import "sections/product-list";
@import "product-card/product-card";
@import "menu/menu";
@import "menu/menuButter";
@import "menu/dopContent";