* {
    /*m0=p0*/
    margin: 0;
    padding: 0;
    font-family:
            sans-serif;
}

.conteiner {
    width: 1170px;
    margin: 0 auto;
}

.hero {
background: url("img/hero-bg.jpg") no-repeat
center;
    background-size: cover;
    padding-top: 530px;
    padding-bottom: 150px;
}

.hero-title {
    font-weight: bold;
    font-size: 48px;
    line-height: 59px;
    text-transform: uppercase;
    color: white;
}

.hero-subtitle {
    font-weight: normal;
    font-size: 18px;
    line-height: 22px;
    color: white;
    margin: 15px 0 20px;

}

.hero-slogan {
    font-weight: bold;
    font-size: 54px;
    line-height: 66px;
    padding-right: 30px;
    width: fit-content;
    color: white;
    text-transform: uppercase;
    background: rgba(0,0,0,0.4);
}

.text-yellow  {
    color: #F48E0B;
}

.hero-slogan-accent {
    display: inline-block;
    padding: 40px 25px 40px 30px;
    border-right: 1px solid;
    padding-right: 30px;
}

.text-block {
    align-content: center;
    text-align: center;
}
.text-block-title {
    margin-bottom: 28px;
    color: #333333;
    text-transform: uppercase;

}

.text-block-desc {
    margin-bottom: 46px;
    color: #4D4943;

}

.text-block-line {
    height: 7px;
    width: 62px;
    left: 376px;
    top: 118px;
    background: linear-gradient(0deg, #F1AD1D, #F1AD1D),
    linear-gradient(0deg, #F48E0B, #F48E0B);
    margin: 0 auto;

}

.text-block-img {
    margin-bottom: 28px;
    margin-top: 55px;
}

.achievements {
    padding: 70px 0px 30px;
}

.conteiner-navigation {
    text-align: center;
    list-style: none;
    padding: 22px 0;
    justify-content: space-between;
}

.navigation-menu-item {
    display: inline-block;
    margin-right: 69px;
    padding-bottom: 32px;
}

.navigation-company {
    text-align: left;
    font-size: 28px;
}

.text-block-line2 {

    width: 1169px;
    height: 5px;
    top: 50px;
    color: #F1B128;
    background: #F1B128;


}

