* {
    margin: 0;
    padding: 0;
}
a{
    text-decoration: none;
}
li{
    list-style-type: none
}
html,
body {
    height: 100%;
}
.footer-container {
    position: relative;
    min-height: 100%;
}

.content {
    padding-bottom: 90px;
}



.footer {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    background: #202022;
}

.footer-logo {
    width: 50px;
}


.basement {
    height: 80px;
    background: #01a4c3;
    align-items: center;
    display: grid;
    grid-auto-flow: column;
    justify-content: space-between;
    padding-bottom: 24px;
}

.basement-text {
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    line-height: 13px;
    color: #FFFFFF;
    padding-top: 29px;
    padding-left: 167px;
}

.basement-logo {
    align-items: center;
    display: grid;
    grid-auto-flow: column;
    justify-content: space-between;
    padding-top: 29px;
    padding-right: 186px;
}


.footer-logo-text {
    color: #FFFFFF;
    margin-left: 8px;
}

.subscribe-text {
    color: #FFFFFF;
}

.subscribe-action {
display: flex;
align-items: center;
    justify-content: space-between;
    width: calc(100% - 330px);
}

.footer-upeer-content {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 20px;
}


.button-subscribe {
    width: 168px;
    height: 32px;
    background: #00CBF6;
    font-size: 15px;
    font-weight: bolder;
    border-radius: 0px 3px 3px 0px;
    cursor: pointer;
    color: white;
    border: 0;
    /*margin-left: -8px;*/
}

.button-subscribe:hover {
    background: #01a4c3;
}

.input-subscribe{
    width: 168px;
    height: 32px;
    border-radius: 3px 0px 0px 3px;
    border: 0;
    font-size: 15px;
    font-weight: bolder;
    padding-left: 8px;
}

.input-subscribe:focus {
    border: 0;
}

.partners-logo {
    background: #2020220f;
    width: 100px;
    padding: 8px;
    border-radius: 6px;
}

.partners {
    background: #01a4c3;
    padding: 32px;
    display: flex;
    justify-content: space-between;
   align-items: center;
}

.container {
    background: #01a4c3;
}

.container-line{
    background: #01a4c3;
}

.container-line:after {
    content: '';
    display: block;
    margin: 25px auto 0;
    width: calc(100% - 320px);
    height: 2px;
    border-radius: 30%;
    background: rgba(0, 0, 0, 0.38);
    /*box-shadow: 12px 4px #18cfab;*/
}



.swiper-container {
    display: flex;
    flex-direction: column;
    background: #01a4c3;
}

.footer-items {
    padding: 24px;
    justify-content: space-evenly;
    display: flex;
}

.menu-link{
    color: white;
}

.menu-link:hover {
    color: #202022;
}

.partners-text {
    display: flex;
    justify-content: center;
    margin: 16px;
}

.submenu-link {
    color: #202022;
    font-size: 20px;
    font-weight: bold;
}

