

.portfolio {
 text-align: center;
    width: 1167px;
    height: 852px;
    right: 0px;
    top: 2607px;

}

.portfolio-text {
    font-style: normal;
    font-weight: bold;
    font-size: 22px;
    line-height: 22px;
    text-transform: uppercase;
    color: #333333
}


.portfolio-items {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-gap: 2px 2px;
    grid-column: span;
}

.portfolio-items-photo {
    justify-content: space-between;
    width: 193px;
    height: 178px;
    background: url("../img/Layer27.png");
}

.portfolio-title {
    width: 139px;
    height: 45px;
    left: 12px;
    top: 119px;
    margin-top: 119px;
    margin-left: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: linear-gradient(0deg, #333333, #333333), #111111;
}

.album-page {
    width: 1030px;
}

.album-header {
    display: flex;
    justify-content: space-between;
}

.album {
    overflow: paged-y;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 30px 30px;
    grid-column: span;
}

.album-title {
    font-size: 22px;
    line-height: 22px;
    text-transform: uppercase;
    color: #333333;
}

.album-back {
    display: flex;

}