.footer {
    /*background-color: black;*/
    border-radius: 9px 9px 0 0;
    flex: 0 0 auto;
    /*position: absolute;*/
    /*left: 0;*/
    /*bottom: 0;*/
    /*width: 100%;*/
    /*height: 80px;*/

}

.footer-text {
    padding: 15px 0 15px 10px;
    color: #000000;
}